$padding-sm: .25rem !default;
$padding-md: .5rem !default;
$padding: 1rem !default;
$margin: .5rem !default;

$c-bg: #0d080d;
$c-surface: #232323;
$c-text: #eaeaea;

$c-accent: #c351e3;
$c-accent-light: lighten($c-accent, 15);
$c-accent-lightest: lighten($c-accent, 20);

$row-height: 65px;
