// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dungeon-primary: mat.define-palette(mat.$indigo-palette);
$dungeon-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dungeon-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dungeon-theme: mat.define-light-theme((
  color: (
    primary: $dungeon-primary,
    accent: $dungeon-accent,
    warn: $dungeon-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dungeon-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: open-sans;
  font-weight: normal;
  src: url("./assets/open-regular.ttf") format("truetype");
}

@font-face {
  font-family: open-sans;
  font-weight: 200;
  src: url("./assets/open-light.ttf") format("truetype");
}

@font-face {
  font-family: architect;
  src: url("./assets/architect.ttf") format("truetype");
}

@import 'imports';

* {
  box-sizing: border-box;
  color: $c-text;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: $c-bg;
}

body {
  margin: 0;
  font-family: open-sans, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: architect, sans-serif;
  font-weight: 200;
}

.padded {
  padding: $padding;
}
